{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}

{% block title %}
Login User
{% endblock %}

{% block nav %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <main class="p-6 max-w-3xl mx-auto">
        <div class="flex items-center justify-between mb-2">
      <h1 class="text-3xl font-bold text-orange-500">Login</h1>
      <a href="{% url 'user-regis' %}" class="px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600">Sign Up</a>
    </div>
        {% comment %} {% if error %}
            <h1 class='text-red-400'>{{error}}</h1>
        {% endif %} {% endcomment %}

        <form method="post" class="space-y-6">
            {% csrf_token %}

            <h1 class='text-red-400'>{{ form.non_field_errors }}</h1>
            <div class="space-y-4 border p-4 rounded-md shadow-sm">
                <h2 class="text-xl font-semibold text-gray-700">Login</h2>
                <div class="border rounded-md p-4 mb-4 bg-orange-50">
                    <div>
                        <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">Username/Email</label>
                        {{ form.username }}
                    </div>

                    <div>
                        <label for="{{ form.password_hash.id_for_label }}" class="block text-sm font-medium text-gray-700">Password</label>
                        {{ form.password_hash }}
                        <button type="button" onclick="showPassword(event, 'password_hash')" class="ml-2 px-2 py-1 rounded bg-orange-200 text-orange-700">Show</button>
                    </div>


                </div>
                {% comment %} <a href="{% url 'user-forgetpw' %}" class="text-sm text-blue-600 hover:underline">
                    Forgot your password?
                </a> {% endcomment %}
            </div>


            <button
                type="submit"
                class="bg-orange-500 hover:bg-orange-600 text-white font-semibold px-6 py-2 rounded-md">
                Login
            </button>
        </form>
    </main>
    {% block script %} <script src="{% static 'showpassword.js' %}"></script> {% endblock %}
{% endblock %}

