{% extends "base.html" %}
{% load custom_filter %}
{% load static %}

{% block title %} Home {% endblock %}

  <body class="bg-white text-gray-800">
    {% comment %} {% include 'nav.html' %} {% endcomment %}

    <main class="p-6 max-w-8xl mx-auto">
      <section class="mb-6 flex sm:flex-row flex-col gap-4 justify-between">
        {% block head %} 
          <div class="flex items-center justify-between">
          <div>
            <h1 class="text-3xl font-bold text-orange-500">Home</h1>
          </div>
        </div>
        {% comment %} <section aria-label="Filter content" class="sm:self-end sm:place-items-end flex flex-col gap-y-2">
          <label class="text-2xl font-medium" for="search">Quick Search</label>
          <div class="flex flex-row gap-x-4 flex-wrap sm:justify-end" aria-label="Advanced Filters">
            <div aria-label="Full name">
              {% if filter == '' or filter == None %}
                <input class="cursor-pointer" type="radio" id="fullname" name="a_filter" value="" checked />
              {% else %}
                <input class="cursor-pointer" type="radio" id="fullname" name="a_filter" value="" />
              {% endif %}
              <label class="cursor-pointer" for="fullname">Full Name</label>
            </div>
            <div aria-label="Faculty">
              {% if filter == 'faculty' %}
                <input class="cursor-pointer" type="radio" id="faculty" name="a_filter" value="faculty" checked />
              {% else %}
                <input class="cursor-pointer" type="radio" id="faculty" name="a_filter" value="faculty" />
              {% endif %}
              <label class="cursor-pointer" for="faculty">Faculty</label>
            </div>
          </div>
          <input 
          class="block w-[300px] rounded-md field-sizing-content border-[1px] px-4 py-2" 
          id="search" 
          type="text" 
          placeholder="Search professors..." 
          autocomplete="search" value="{{search}}" 
          title="Filter data" />
        </section> {% endcomment %}
        {% endblock %}
      </section>

      <div class="overflow-x-auto bg-white rounded-lg shadow border border-orange-100">
        {% block content %} 
        <h1>
          Hello welcome User {{ user_id }}: {{ user.username }}
          {% comment %} {{ user.username }} {% endcomment %}
        </h1>
        {% endblock %}
        
      </div>
    </main>

    {% comment %} {% block script %} <script src="{% static 'professor.js' %}"></script> {% endblock %} {% endcomment %}
  </body>
</html>