{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}

{% block title %}
User Profile
{% endblock %}

{% block head %}
  {% if request.session.staff_id %}
    <a href="{% url 'staff-home' %}" onclick="if (history.length > 1) { history.back(); return false; }" class="px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600">กลับ</a>
  {% else %}
    <a href="{% url 'user-home' %}" class="px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600">กลับ</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="p-6 max-w-3xl mx-auto">
  <h1 class="text-3xl font-bold text-orange-500 mb-4">ผู้ใช้หมายเลข: {{user_id}}</h1>
  <div class="bg-white p-6 rounded-xl border border-orange-100 shadow space-y-4">
    <div class="flex justify-between">
      <span class="font-semibold text-gray-700">ชื่อผู้ใช้</span>
      <span class="text-gray-900">{{ user.username }}</span>
    </div>
    <hr>
    <div class="flex justify-between">
      <span class="font-semibold text-gray-700">ชื่อจริง</span>
      <span class="text-gray-900">{{ user.first_name }}</span>
    </div>
    <hr>
    <div class="flex justify-between">
      <span class="font-semibold text-gray-700">นามสกุล</span>
      <span class="text-gray-900">{{ user.last_name }}</span>
    </div>
    <hr>
    <div class="flex justify-between">
      <span class="font-semibold text-gray-700">อีเมล</span>
      <span class="text-gray-900">{{ user.email }}</span>
    </div>
    <hr>
    <div class="flex justify-between">
      <span class="font-semibold text-gray-700">เบอร์โทรศัพท์</span>
      <span class="text-gray-900">{{ user.phone }}</span>
    </div>
    <hr>
    <div class="flex justify-between">
      <span class="font-semibold text-gray-700">ช่องทางติดต่อหลัก</span>
      <span class="text-gray-900">{{ user.main_contact }}</span>
    </div>
    <hr>
    <div class="form-control">
      <div>
        <p class="font-semibold text-gray-700">ที่อยู่</p>
        <br>
        <p class="text-gray-900">{{ user.address }}</p>
      </div>
    </div>
  </div>

  {% if request.session.user_id == user_id %}
  <div class="flex items-center justify-end gap-3 pt-2">
    <a href="{% url 'user-changepw' user.id %}" class="px-5 py-2 rounded-lg bg-orange-500 text-white hover:bg-orange-600">เปลี่ยนรหัสผ่าน</a>
    <a href="{% url 'user-update' user.id %}" class="px-5 py-2 rounded-lg bg-orange-500 text-white hover:bg-orange-600">แก้ไขข้อมูล</a>
  </div>
  {% endif %}
</div>
{% endblock %}