{% extends 'base.html' %}
{% load static %}

{% block title %}Update Condo{% endblock %}

 {% block head %}
     <a href="{% url 'condo-detail' condo.deed_number %}" class="px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600">กลับ</a>
          <div class="flex items-center justify-between">
                <div>
                    <h1 class="text-4xl font-bold bg-gradient-to-r from-orange-600 to-red-600 bg-clip-text text-transparent leading-loose">แก้ไขข้อมูลคอนโด</h1>
                    <p class="text-gray-600 text-lg">ใส่ข้อมูลคอนโด</p>
                </div>
            </div>
{% endblock %}


{% block content %} 
    <form method="POST" class="space-y-8" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex justify-between items-center mb-4 pt-4">
          <h2 class="text-2xl font-bold text-orange-500 mb-4">ข้อมูลคอนโด</h2>
          <a href="{% url 'status-cancel' condo.deed_number %}" 
            class="px-4 py-2 bg-red-500 text-white font-semibold rounded-xl hover:bg-red-600 transition duration-150"
            onclick="return confirm('คุณต้องการยกเลิกการประกาศขายสำหรับคอนโดนี้ใช่หรือไม่?');">
            ยกเลิกการขาย
          </a>
        </div>
        {% if condo_form.non_field_errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline">{{ condo_form.non_field_errors }}</span>
            </div>
        {% endif %}

        <div class="grid sm:grid-cols-2 gap-6 form-control">
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">เลขโฉนด</label>
                <p class="w-full px-4 py-3 border-2 border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-purple-400 focus:border-transparent transition-all duration-300 bg-white bg-opacity-70">
                    {{ condo.deed_number }}
                </p>
            </div>

            <div>
            <label for="{{ condo_form.name.id_for_label }}" class="block text-sm font-medium text-gray-700">ชื่อคอนโด</label>
            <h1 class='text-red-400'>{{ condo_form.name.errors }}</h1>
            {{ condo_form.name }}
            </div>
        </div>
        <div class="grid sm:grid-cols-2 gap-6 form-control">
            <div class="">
            <label for="{{ condo_form.province.id_for_label }}" class="block text-sm font-medium text-gray-700">จังหวัด</label>
            <h1 class='text-red-400'>{{ condo_form.province.errors }}</h1>
            {{ condo_form.province }}
            </div>

            <div>
            <label for="{{ condo_form.area_sqm.id_for_label }}" class="block text-sm font-medium text-gray-700">พื้นที่ (ตร.ม.)</label>
            <h1 class='text-red-400'>{{ condo_form.area_sqm.errors }}</h1>
            {{ condo_form.area_sqm }}
            </div>
        </div>
        <div class="form-control">
            <div>
            <label for="{{ condo_form.address.id_for_label }}" class="block text-sm font-medium text-gray-700">ที่อยู่</label>
            <h1 class='text-red-400'>{{condo_form.address.errors}}</h1>
            {{ condo_form.address }}
            </div>
        </div>
        <div class="form-control">
            <div>
            <label for="{{ condo_form.description.id_for_label }}" class="block text-sm font-medium text-gray-700">รายละเอียดคอนโด</label>
            <h1 class='text-red-400'>{{condo_form.description.errors}}</h1>
            {{ condo_form.description }}
            </div>
        </div>
        <div class="form-control">
            <div class="">
            <h2 class="text-2xl font-bold text-orange-500 mb-4">รูปโฉนด</h2>
            <!-- ปุ่มเลือกไฟล์ -->
            <div class="flex justify-center">
              <label for="{{ condo_form.deed_picture.id_for_label }}"
                    class="inline-block cursor-pointer px-5 py-2 rounded-lg bg-orange-500 text-white hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-400">
                ใส่รูปโฉนด
              </label>
            </div>
        {% for error in condo_form.deed_picture.errors %}
                <p class='text-red-500 text-xs mt-2'>{{ error }}</p>
            {% endfor %}
            {# input ถูกซ่อนด้วย class hidden จาก forms.py #}
            {{ condo_form.deed_picture }}
                <img id="preview" src='{{ condo_form.instance.deed_picture.url }}' class="m-auto mt-3 rounded-lg border max-h-[512px] object-contain" alt="Preview" />
            </div>
        </div>

        <button type="submit" class="w-full py-4 bg-gradient-to-r from-orange-500 to-yellow-500 text-white font-semibold rounded-xl hover:from-orange-600 hover:to-yellow-600 shadow-lg hover:shadow-xl flex items-center justify-center space-x-2">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                    </svg>
                    <span>ยืนยัน</span>
        </button>
    </form>
{% endblock %}


    
    
{% block script %}
    <script>
            // ใช้ id เหมือนที่ตั้งกับ label
            const image = document.getElementById('{{ condo_form.deed_picture.id_for_label }}')
            const preview = document.getElementById('preview')
            image.addEventListener('change', () => {
            const [file] = image.files
            if (file) {
                preview.src = URL.createObjectURL(file)
                preview.classList.remove('hidden')
            }
            })
</script>
{% endblock %}