{% extends 'base.html' %}
{% load static %}

{% block title %}Create Condo{% endblock %}

 {% block head %}
     <a href="{% url 'condo-detail' listing.condo.deed_number %}" class="px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600">กลับ</a>
          <div class="flex items-center justify-between">
                <div>
                    <h1 class="text-4xl font-bold bg-gradient-to-r from-orange-600 to-red-600 bg-clip-text text-transparent leading-loose">เสนอราคา</h1>
                </div>
            </div>
{% endblock %}


{% block content %} 
    <form method="POST" class="space-y-8" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-control">
            <div>
            <label class="block text-sm font-medium text-gray-700">ชื่อคอนโด</label>
            <h1 class="text-2xl mt-1">{{ condo_name }} </h1>
            </div>
        </div>
        <div class="grid sm:grid-cols-2 gap-4 form-control">
            <div>
            <label for="{{ form.asking_price.id_for_label }}" class="block text-sm font-medium text-gray-700">ราคาที่ต้องการ</label>
            <h1 class='text-red-400'>{{ form.asking_price.errors }}</h1>
            {{ form.asking_price }}
            </div>
        </div>
        <div class="form-control">
            <div>
            <label for="{{ form.note.id_for_label }}" class="block text-sm font-medium text-gray-700">คำขอเพิ่มเติม</label>
            <h1 class='text-red-400'>{{ form.note.errors }}</h1>
            {{ form.note }}
            </div>
        </div>

            <div class="flex justify-end space-x-4 mt-8">
                <a href="{% url 'condo-detail' listing.condo.deed_number %}" 
                   class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    ยกเลิก
                </a>
                <button type="submit" 
                        class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    ยืนยัน
                </button>
            </div>
    </form>
{% endblock %}


    
    
{% block script %}
{% endblock %}